/* Colors */
:root {
    --color-default: #364d59;
    --color-primary: #feb900;
    --color-secondary: #52565e;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

.drk::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}

.carousel-caption h5 {
    color: beige;
}

.bgImage {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 80px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f5f6f7;
}

.section-header {
    text-align: center;
    /* padding-bottom: 70px; */
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #2e3135;
}

.section-header h2:before,
.section-header h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--color-primary);
    display: inline-block;
}

.section-header h2:before {
    margin: 0 15px 10px 0;
}

.section-header h2:after {
    margin: 0 0 10px 15px;
}

.section-header p {
    margin: 0 auto 0 auto;
}