{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
{% include "home/navbar.html" %}
<section id="hero-carousel"><!-- Start of Hero Section -->
    {% include "home/carousel.html" %}
</section> <!-- End of Hero Section  -->
<section><!-- Start of Our Projects Section -->
    <div class="section-header">
        <h2 class="text-center">Our Projects</h2>
    </div>
</section><!-- End of Our Projects Section -->
<div class="row">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in page.gallery_images.all %}
        <div class="col">
            <div class="card h-100">
                {% image item.image original as pic %}
                <img src="{{pic.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.caption}}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}